@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Roboto, serif;
}

@layer components {
    [data-ph] {
        @apply empty:before:content-[attr(data-ph)] before:text-gray-300 before:text-sm empty:focus:before:content-[attr(data-ph)] before:font-light;
    }
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
